<div class="container">
  <div class="row">
    <%= render 'layouts/search' %>
  </div>
  <div class="row">
    <div>
      <h1 class="my-3"><strong>PLAYERS</strong></h1>
    </div>
    <div class="my-4 col-md-4 offset-6">
      <%= link_to "Post", new_public_post_player_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="row">
    <table class='table table-hover table-inverse'>
      <thead>
        <tr class="table-primary">
          <th>User</th>
          <th>PLAYER</th>
          <th>Nationality</th>
          <th>Favorite</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @post_players.each do |post_player| %>
          <tr>
            <td><%= link_to post_player.user.name, public_user_path(post_player.user_id) %></td>
            <td><%= link_to post_player.name, public_post_player_path(post_player.id) %></td>
            <td><%= post_player.nationality.name %></td>
            <td id="favorite_<%= post_player.id %>">
              <%= render 'public/favorites/favorite', post_player: post_player %>
            </td>
            <% if post_player.user == current_user %>
            <td><%= link_to "Edit a player", edit_public_post_player_path(post_player.id), class: "btn btn-success" %></td>
            <td><%= link_to "Delete", public_post_player_path(post_player.id), class: "btn btn-danger", method: :delete, data: {confirm: "削除しますか？"} %></td>
            <% else %>
            <td colspan="2"></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="mx-auto"><%= paginate @post_players %></div>
  </div>
</div>