<div class="container sticky-top">
  <div class="row">
    <div>
      <h1 class="my-5"><strong>PLAYERS</strong></h1>
    </div>
    <div class="my-3">
      <%= render 'layouts/search' %>
    </div>
    <div class="my-4 col-md-4 offset-10">
      <%= link_to "Post", new_public_post_player_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
<div class="container">
  <div class="text-center">
    <%= link_to '新着順', public_post_players_path(latest: "true") %>/
    <%= link_to '古い順', public_post_players_path(old: "true") %>
    <!--<%#= link_to 'いいね順', public_post_players_path(most_favorited: "true") %>-->
  </div>
</div>
<div class="jscroll">
  <div class="card-list-container">
    <% @post_players.each do |post_player| %>
      <div class="card w-50 mx-auto mt-4 shadow-lg">
        <div class="card-body">
          <div class="row">
            <div class="col-2">
              <%= link_to public_user_path(post_player.user_id) do %><i class="fa-solid fa-user"></i><%= post_player.user.name %><% end %>
            </div>
            <div class="col-2">
              <p class="card-title">
                  <strong><i class="fa-solid fa-pen"></i><span> <%= link_to post_player.name, public_post_player_path(post_player.id) %></span></strong>
              </p>
              <p class="card-text"><%= post_player.nationality.name %></p>
              <span id="favorite_<%= post_player.id %>">
                <%= render 'public/favorites/favorite', post_player: post_player %>
              </span>
              <span id="comment_counter">
                <%= render 'public/comments/comment_count', post_player: post_player %>
              </span>
            </div>
            <div class="col-5">
              <%= post_player.body %>
            </div>
            <div class="col-3">
              <% if post_player.user == current_user %>
              <div class="my-3"><%= link_to edit_public_post_player_path(post_player.id) do %><i class="fa-regular fa-pen-to-square"></i><% end %></div>
              <div class="my-3"><%= link_to "Delete", public_post_player_path(post_player.id), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger" %></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
  </div>
  <div class="offset-6"><%= paginate @post_players %></div>
</div>
<!--以下無限スクロール記述-->
  <script>
    $(document).on('turbolinks:load', function() {
      $('.jscroll').jscroll({ // 追加したdivのclass名と合わせる
        contentSelector: '.jscroll',
        nextSelector: '.next a',  // 次ページリンクのセレクタ
        loadingHtml: '読み込み中',
        padding: 10
      });
    });
  </script>
  <style>
  .pagination {
    visibility: hidden;
  }
  </style>