<div>
  <%= flash[:notice] %>
</div>

<div class="container">
  <div class="row">
    <div>
      <h1>Player detail</h1>
    </div>
    <% if @post_player.user == current_user %>
    <div class="my-4 col-md-4 offset-1">
      <%= link_to "Edit a player", edit_public_post_player_path(@post_player.id), class: "btn btn-success" %>
      <%= link_to "Delete", public_post_player_path(@post_player.id), class: "btn btn-danger", method: :delete, data: {confirm: "削除しますか？"} %>
    </div>
    <% end %>
  </div>
  <div class="row ">
    <div class="col-md-8">
      <table class="table table-bordered">
        <tbody>
          <tr class="table-primary">
            <th>Player Name</th>
            <th>Nationality</th>
            <th>Favorite</th>
          </tr>
          <tr>
            <td><%= @post_player.name %></td>
            <td><%= @post_player.nationality.name %></td>
            <td id="favorite_<%= @post_player.id %>"><%= render 'public/favorites/favorite', post_player: @post_player %></td>
          </tr>
        </tbody>
      </table>
      <div>
        <h3>Introduction</h3>
        <p><%= @post_player.body %></p>
      </div>
    </div>
  </div>
  <div class="row offset-1 my-5">
    <div id="comment_counter">
      <%= render 'public/comments/comment_count', post_player: @post_player %>
    </div>
  </div>
  <div class="row col-md-9 offset-1">
      <table class="table">
        <thead>
          <tr>
            <th>User</th>
            <th>Comment</th>
            <th>Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="comment_index">
          <%= render 'public/comments/comment_index', post_player: @post_player %>
        </tbody>
      </table>
  </div>

  <div class="row mt-5 offset-1">
    <div id="comment_form">
      <%= render 'public/comments/comment_form', post_player: @post_player, comment: @comment %>
    </div>
  </div>
</div>
