<div class="container">
  <div class="row">
    <h1 class="mx-auto my-5"><strong>PLAYERS FILE</strong></h1>
  </div>
  <div class="row">
      <h3 class="mx-auto font-weight-bold">あなたの思う今一番キテる選手を教えてください</h3>
  </div>
  <div class="row">
      <h3 class="mx-auto font-weight-bold"> Who's Next?</h3>
  </div>
  <% if user_signed_in? %>
  <div></div>
  <% else %>
  <div><%= link_to 'ゲストログイン', new_user_session_path, class: "btn btn-secondary" %></div>
  <% end %>


  <div class="card-list-container py-5">
  <% @post_players.each do |post_player| %>
    <div class="card w-50 mx-auto mt-4 shadow-lg">
      <div class="card-body">
        <div class="row">
          <div class="col-2">
            <i class="fa-solid fa-user"></i><%= post_player.user.name %>
          </div>
          <div class="col-3">
            <p class="card-title">
                <strong><i class="fa-solid fa-pen"></i><span> <%= post_player.name %></span></strong>
            </p>
            <p class="card-text"><%= post_player.nationality.name %></p>
            <span><i class="fa-solid fa-thumbs-up"></i><%= "#{post_player.favorites.count}" %></span>
          </div>
          <div class="col-7">
            <%= post_player.body %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>