<table class='table'>
  <thead>
    <tr>
      <th><i class="fa-solid fa-users"></i>User</th>
      <th>follow</th>
      <th>follower</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to "#{user.followings.count}", admin_user_followings_path(user.id) %></td>
        <td><%= link_to "#{user.followers.count}", admin_user_followers_path(user.id) %></td>
        <td><%= link_to 'Profile', admin_user_path(user.id), class: "btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="mx-auto"><%= paginate users %></div>